#gameCanvas{
    font-family: 'Courier New', Courier, monospace ;
    resize: none;
    overflow: hidden;
    background-color: black;
    color: #ffffff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 55vh;
    margin-right: auto;
    margin-top: 25vh;
    text-align: center;
}
#player{
    font-family: 'Courier New', Courier, monospace ;
    color: yellow;
    font-weight: bold;
}